In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/ML/Training Data.csv")

In [ ]:
df1=pd.read_csv("/content/drive/MyDrive/ML/click_log.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (22,24,25,26,29,30,31,32,33,34,46,47,48,49,50,51,52,53,54) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244864 entries, 0 to 244863
Data columns (total 55 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Unnamed: 0                 244864 non-null  int64
 1   imprId                     244864 non-null  object
 2   clmbUserId                 244864 non-null  object
 3   adSltDimId                 244864 non-null  int64
 4   auds                       181829 non-null  object
 5   allAuds                    231529 non-null  object
 6   itemid                     244864 non-null  int64
 7   algo                       244864 non-null  int64
 8   advClientId                244864 non-null  int64
 9   pubClientId                244864 non-null  int64
 10  itmClmbLId                 244864 non-null  int64
 11  tmpltId                    222565 non-null  float64
 12  refUrl                     198414 non-null  object
 13  clickBid                   141858 non-null  float64
 14  clickXForwardedFor         222565 non-null  object
 15  position                   244864 non-null  int64
 16  paid                       244864 non-null  int64
 17  siteId                     244864 non-null  int64
 18  callIdentifier             243724 non-null  object
 19  crtd                       244864 non-null  float64
 20  adslotRatio                215197 non-null  float64
 21  pricingType                222565 non-null  float64
 22  usrClusterId               160584 non-null  object
 23  siteClusterIds             188144 non-null  object
 24  ctxCatId                   226457 non-null  object
 25  uuidSource                 236752 non-null  object
 26  clickIp                    222565 non-null  object
 27  clickGeoId                 222565 non-null  float64
 28  esi                        163350 non-null  float64
 29  adBlockerDetectionValueId  136152 non-null  object
 30  bundleId                   100865 non-null  object
 31  impressionServedTimeStamp  156760 non-null  object
 32  appver                     126985 non-null  object
 33  topic                      244864 non-null  object
 34  ip                         244864 non-null  object
 35  geoDimId                   244864 non-null  int64
 36  countryDimId               244864 non-null  int64
 37  geoGrpDimId                233484 non-null  float64
 38  cityDimId                  238775 non-null  float64
 39  cityGrpDimId               210261 non-null  float64
 40  stateDimId                 242115 non-null  float64
 41  stateGrpDimId              234919 non-null  float64
 42  ispDimId                   244732 non-null  float64
 43  osDimId                    244643 non-null  float64
 44  osVerDimId                 244619 non-null  float64
 45  devTypeDimId               229508 non-null  float64
 46  vendorDimId                238984 non-null  object
 47  modelDimId                 222249 non-null  object
 48  connTypeDimId              184365 non-null  object
 49  browserDimId               164599 non-null  object
 50  refClusterId               56251 non-null   object
 51  fraud                      20687 non-null   object
 52  cpa                        53476 non-null   object
 53  imprUserId                 51007 non-null   object
 54  optout                     20318 non-null   object
dtypes: float64(16), int64(12), object(27)
memory usage: 102.7+ MB

In [ ]:
DF=pd.merge(df, df1, how='inner', left_on=['imprid_cr'], right_on=['imprId'] )

In [ ]:
cor = DF.corr()
count=0
cor_sorted = cor.sort_values(by=['conversion_fraud'], ascending=False).iloc[:,14]
for i in cor_sorted:
  if i >0:
    print(i)

0.02547418800113211
0.006842524898423062
0.006166806180644334
0.047646395450598206
0.22412223955232632
0.03073839340673031
0.03842801036344047
0.016223810270620902
0.016223810270620902
0.022497127890420934
0.07953718870530947
0.013135220937679383
0.2026067988969331
0.02639440208207398
0.02639440208207398
0.019938911113739768
1.0
1.0
0.03819419465877956
0.03931679025446311
0.08283302449024786
0.1011235985960592
0.1107051859679596
0.06571513046156807
0.19097035995462017
0.09944492564169377
0.035229137956570275
0.035229137956570275
0.054175446305697365
0.054175446305697365
0.14798538320361287
0.17064660586705507
0.2195515926040507

In [ ]:
df2=DF[['clientid_cr','imprId', 'pubclientid_cr','clickIp','clmbuserid_cr','siteId','goalid_cr','cityId_cr','browserId_cr','adslotdimid_cr','itmClmbLId','ispDimId_cr','devTypeDimId','osVerDimId_cr','conversion_fraud']]
df2.head(3)

   clientid_cr  ... conversion_fraud
0        75694  ...             True
1        75694  ...             True
2        75694  ...             True

[3 rows x 15 columns]

In [ ]:
cor=df2.corr()
cor.columns

Index(['clientid_cr', 'pubclientid_cr', 'siteId', 'goalid_cr', 'cityId_cr',
       'browserId_cr', 'adslotdimid_cr', 'itmClmbLId', 'ispDimId_cr',
       'devTypeDimId', 'osVerDimId_cr', 'conversion_fraud'],
      dtype='object')

In [ ]:
type(df2)

pandas.core.frame.DataFrame

In [ ]:
df2=df2.dropna()
df2

     clientid_cr  ... conversion_fraud
0          75694  ...             True
1          75694  ...             True
2          75694  ...             True
3          75694  ...             True
4          75694  ...             True
..           ...  ...              ...
891        75694  ...            False
892        70491  ...            False
893        85572  ...            False
894        75694  ...            False
895        75694  ...            False

[778 rows x 15 columns]



```
According to correlation matrix these columns are chosen 
```

In [ ]:
df2 = df2.sample(frac=1).reset_index(drop=True)

In [ ]:
df2['clickIp'] = df2['clickIp'].astype('|S')

In [ ]:
from sklearn.preprocessing import LabelEncoder
labelencoder_X = LabelEncoder()
df2['clickIp'] = labelencoder_X.fit_transform(df2['clickIp'])

In [ ]:
from sklearn.preprocessing import LabelEncoder
labelencoder_X = LabelEncoder()
df2['clmbuserid_cr'] = labelencoder_X.fit_transform(df2['clmbuserid_cr'])

In [ ]:
from sklearn.preprocessing import LabelEncoder
labelencoder_X = LabelEncoder()
df2['imprId'] = labelencoder_X.fit_transform(df2['imprId'])

In [ ]:
labelencoder_X = LabelEncoder()
df2['conversion_fraud'] = labelencoder_X.fit_transform(df2['conversion_fraud'])

In [ ]:
X=df2[['clientid_cr','imprId', 'pubclientid_cr','clickIp','clmbuserid_cr','siteId','goalid_cr','cityId_cr','browserId_cr','adslotdimid_cr','itmClmbLId','ispDimId_cr','devTypeDimId','osVerDimId_cr']]
y=df2['conversion_fraud']

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.2,stratify=y,random_state=42)

In [ ]:
df2

     clientid_cr  imprId  ...  osVerDimId_cr  conversion_fraud
0          75694     580  ...       199452.0                 0
1          75694     102  ...       199414.0                 0
2          75694     314  ...       199414.0                 0
3          75694     686  ...       199414.0                 1
4          75694     687  ...       199452.0                 1
..           ...     ...  ...            ...               ...
773        75694     261  ...       199414.0                 1
774         7750     319  ...       360833.0                 0
775        85572      61  ...       199522.0                 0
776        75694     658  ...       199452.0                 1
777        75694     625  ...       199452.0                 0

[778 rows x 15 columns]

In [ ]:
a_train,a_test,b_train,b_test = train_test_split(X, y, test_size=0.2,stratify=y,random_state=42)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
a_train=scaler.fit_transform(a_train)
a_test = scaler.transform(a_test)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler= MinMaxScaler(feature_range=(0, 100))
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

#Using Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
lr =  LogisticRegression(C=1e5,random_state=21,max_iter=250)

In [ ]:
lr.fit(X_train,y_train)

LogisticRegression(C=100000.0, class_weight=None, dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=250, multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=21, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
lr.score(X_train,y_train)

0.8713826366559485

# Prediction of Test data

In [ ]:
pred_data = [[75694,395,	15240,	0,	62,	178,	6384,	10254.0,	129639.0,	337645,	5488773,	187580.0,	202038.0,	199452.0]]
lr.predict(scaler.transform(pred_data))

array([0])

In [ ]:
df4=pd.read_csv("/content/drive/MyDrive/ML/Test Data.csv")
df4

     record_id  clientid_cr  ... optimize_on_cr  bundleId_cr
0         1000        82122  ...            NaN          NaN
1         1001        75694  ...            NaN          NaN
2         1002        75694  ...            NaN          NaN
3         1003        30431  ...            NaN          NaN
4         1004        30431  ...            NaN          NaN
..         ...          ...  ...            ...          ...
450       1450        75694  ...            NaN          NaN
451       1451        75694  ...            NaN          NaN
452       1452        75694  ...            NaN          NaN
453       1453         8895  ...            NaN          NaN
454       1454        75694  ...            NaN          NaN

[455 rows x 56 columns]

In [ ]:
ex_col=df2['devTypeDimId']
df4.insert(12,'devTypeDimId',ex_col)

In [ ]:
ex_col=df2['itmClmbLId']
df4.insert(10,'itmClmbLId',ex_col)

In [ ]:
ex_col=df2['clickIp']
df4.insert(3,'clickIp',ex_col)

In [ ]:
df5=df4[['clientid_cr','imprid_cr', 'pubclientid_cr','clickIp','clmbuserid_cr','siteId_cr','goalid_cr','cityId_cr','browserId_cr','adslotdimid_cr','itmClmbLId','ispDimId_cr','devTypeDimId','osVerDimId_cr']]

In [ ]:
'''df5'''

'df5'

In [ ]:
df5['clickIp'] = df5['clickIp'].astype('|S')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
from sklearn.preprocessing import LabelEncoder
labelencoder_X = LabelEncoder()
df5['clickIp'] = labelencoder_X.fit_transform(df5['clickIp'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
from sklearn.preprocessing import LabelEncoder
labelencoder_X = LabelEncoder()
df5['clmbuserid_cr'] = labelencoder_X.fit_transform(df5['clmbuserid_cr'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
from sklearn.preprocessing import LabelEncoder
labelencoder_X = LabelEncoder()
df5['imprid_cr'] = labelencoder_X.fit_transform(df5['imprid_cr'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
df5=df5.dropna()
df5

     clientid_cr  imprid_cr  ...  devTypeDimId  osVerDimId_cr
0          82122         40  ...      202038.0              0
1          75694         36  ...      204038.0         199414
2          75694        141  ...      202038.0         199414
3          30431         17  ...      202038.0         360833
4          30431         22  ...      202038.0         360833
..           ...        ...  ...           ...            ...
450        75694        447  ...      202038.0         199452
451        75694        448  ...      202038.0         199522
452        75694        449  ...      196041.0         199452
453         8895        450  ...      202038.0         360833
454        75694        451  ...      202038.0         199414

[455 rows x 14 columns]

In [ ]:
a=lr.predict(scaler.fit_transform(df5))
a

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0,
       1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1])

#Prediction on X_test data

In [ ]:
Y_pred=lr.predict(X_test)
Y_pred

array([0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 0])

In [ ]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [ ]:
from sklearn import metrics
results = confusion_matrix(y_test, Y_pred)
print ('Confusion Matrix of Logistic Regrression:')
print(results)
print ('Accuracy Score :',accuracy_score(y_test, Y_pred)*100)
print ('Report : ')
print (classification_report(y_test, Y_pred))

Confusion Matrix of Logistic Regrression:
[[109   8]
 [ 15  24]]
Accuracy Score : 85.25641025641025
Report :
              precision    recall  f1-score   support

           0       0.88      0.93      0.90       117
           1       0.75      0.62      0.68        39

    accuracy                           0.85       156
   macro avg       0.81      0.77      0.79       156
weighted avg       0.85      0.85      0.85       156

#Using SVM

In [ ]:
from sklearn.svm import SVC 
clf = SVC(random_state=42)

fit_svm=clf.fit(X_train, y_train)
Y_pred = clf.predict(X_test)

clf.score(X_train,y_train)

0.8954983922829582

In [ ]:
Y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0])

In [ ]:
results = confusion_matrix(y_test, Y_pred)
print ('Confusion Matrix SVM:')
print(results)
print ('Accuracy Score :',accuracy_score(y_test, Y_pred)*100)
print ('Report : ')
print (classification_report(y_test, Y_pred))

Confusion Matrix SVM:
[[111   6]
 [ 18  21]]
Accuracy Score : 84.61538461538461
Report :
              precision    recall  f1-score   support

           0       0.86      0.95      0.90       117
           1       0.78      0.54      0.64        39

    accuracy                           0.85       156
   macro avg       0.82      0.74      0.77       156
weighted avg       0.84      0.85      0.84       156

#GNB Classifier

In [ ]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, y_train)

Y_pred = gnb.predict(X_test)

from sklearn import metrics


results = confusion_matrix(y_test, Y_pred)
print ('Confusion Matrix of GNB Classifier:')
print(results)
print ('Accuracy Score :',accuracy_score(y_test, Y_pred)*100)
print ('Report : ')
print (classification_report(y_test, Y_pred))

Confusion Matrix of GNB Classifier:
[[112   5]
 [ 30   9]]
Accuracy Score : 77.56410256410257
Report :
              precision    recall  f1-score   support

           0       0.79      0.96      0.86       117
           1       0.64      0.23      0.34        39

    accuracy                           0.78       156
   macro avg       0.72      0.59      0.60       156
weighted avg       0.75      0.78      0.73       156